.container {
  display: flex;
  gap: 120px;
  justify-content: center;
  padding: 150px 50px 0px 50px;
}
img {
  width: 400px;
  height: 350px;
  border-radius: 8px;
  margin-left: 50px;
  background: #fff;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
}
.content {
  margin-top: -40px;
  color: #333;
  font-family: Space Mono;
}
.heading {
  font-size: 44px;
  margin-right: 50px;
}
.description {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
}
.primary {
  padding: 15px;
  font-size: 10px;
  text-transform: uppercase;
  background-color: black;
  color: white;
}
footer {
  /* padding: 100px 50px 0px 50px; */
  margin-top: 100px;
  text-align: center;
}
/* for smaller devices */
@media screen and (max-width: 576px) {
  .container {
    flex-direction: column;
  }
  .img-1 img {
    width: 287px;
    height: 220px;
    margin: auto;
  }
  .heading {
    font-size: 29px;
  }
  .description {
    font-size: 15px;
  }
}
